<form [formGroup]="reservationForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Ajout d'une réservation</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <hooly-date-form-control
        formControlName="reservationDay"
        label="Date de réservation"
      ></hooly-date-form-control>

      <mat-form-field appearance="outline">
        <mat-label>Truck de réservation</mat-label>
        <mat-select formControlName="truckId">
          <mat-option *ngFor="let truck of trucks$ | async" [value]="truck.id">
            {{ truck.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-footer>
      <button
        class="save-button"
        mat-raised-button
        color="primary"
        [disabled]="!reservationForm.valid"
        (click)="saveReservation()"
      >
        Enregistrer
      </button>
    </mat-card-footer>
  </mat-card>
</form>
