form {
  display: flex;
  flex-direction: column;
  align-items: center;
  mat-form-field {
    width: 100%;
  }
}
:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
mat-card-footer {
  padding: 1rem;
  .save-button {
    width: 100%;
  }
}
