<div class="side-menu">
  <div class="title">
    <h1>Hooly</h1>
  </div>
  <mat-divider></mat-divider>
  <div class="links">
    <ng-container *ngFor="let link of links">
      <a
        (click)="onClickLink()"
        class="link"
        routerLinkActive="active"
        routerLink="{{ link.url }}"
      >
        <img src="/assets/icons/{{ link.icon }}" />
        <span>{{ link.label }}</span>
      </a>
      <mat-divider></mat-divider>
    </ng-container>
  </div>
</div>
