.title {
  height: 4rem;
  h1 {
    margin: 0;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  position: relative;
  background: #677083;
  &::after,
  &::before {
    content: "";
    position: absolute;
    bottom: 0rem;
    width: 100%;
    height: 3px;
    z-index: 1;
    background: white;
  }
  &::before {
    top: 0;
  }
}
.links {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .link {
    display: flex;
    text-decoration: none;
    padding: 5px;
    span {
      font-weight: 500;
      font-size: 1.2em;
      color: #322f2f;
    }
    img {
      width: 2rem;
      height: 2rem;
    }
    align-items: center;
    gap: 1rem;

    &.active {
      background: #5a86ed;
      border-radius: 10px;
      span {
        color: white;
      }
      img {
        filter: invert(1);
      }
    }
  }
}
