<form [formGroup]="foodTruckForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Ajout d'un foodTruck</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Nom du truck</mat-label>
        <input matInput placeholder="Nom du truck" formControlName="name" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-footer>
      <button
        class="save-button"
        mat-raised-button
        color="primary"
        [disabled]="!foodTruckForm.valid"
        (click)="saveFoodTruck()"
      >
        Enregistrer
      </button>
    </mat-card-footer>
  </mat-card>
</form>
