<mat-card>
  <mat-card-header>
    <mat-card-title>{{ tableLabel }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <table cdk-table [dataSource]="dataSource" class="table">
      <ng-container
        *ngFor="let column of columns"
        [cdkColumnDef]="column.key.toString()"
      >
        <th cdk-header-cell *cdkHeaderCellDef>{{ column.label }}</th>
        <td cdk-cell *cdkCellDef="let element">
          <ng-container
            [ngTemplateOutletContext]="{ value: element[column.key] }"
            [ngTemplateOutlet]="column.type === 'date' ? dateCell : stringCell"
          ></ng-container>
        </td>
      </ng-container>
      <tr cdk-header-row *cdkHeaderRowDef="displayedColumnsList"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumnsList"></tr>
    </table>
  </mat-card-content>

  <mat-paginator
    [length]="paginationInfos?.fullSize"
    [hidePageSize]="true"
    [pageSize]="paginationInfos?.pageSize"
    [pageIndex]="paginationInfos?.currentPage"
    (page)="onChangePage($event)"
  ></mat-paginator>
</mat-card>

<ng-template #dateCell let-value="value">
  {{ value | date : "dd/MM/yyyy" }}
</ng-template>

<ng-template #stringCell let-value="value">
  {{ value }}
</ng-template>
