<hooly-toolbar></hooly-toolbar>
<mat-drawer-container autosize>
  <mat-drawer
    class="side-menu-drawer"
    [opened]="isSideMenuOpen$ | async"
    (closedStart)="closeSideMenu()"
    [mode]="(mode$ | async) ?? 'side'"
  >
    <div class="side-bar-container">
      <div class="side-bar">
        <div class="side-menu-container hide-scroller">
          <hooly-side-menu></hooly-side-menu>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="outlet-container">
      <div class="container">
        <div class="contentOutlet">
          <ng-content select="[contentOutlet]"></ng-content>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
