:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contentOutlet {
  padding: 1rem;
  height: 100%;
}
.side-bar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.container {
  height: 100%;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
}
mat-drawer-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.outlet-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 1rem);
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.side-menu-drawer {
  width: 15rem;
  box-shadow: 1px 0 8px #2a272765;
  overflow: hidden;
  color: white;
}
