@import "~ngx-toastr/toastr";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); //Roboto

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
html,
body {
  height: 100%;
}

#toast-container > .toast-success {
  background-color: #65a765 !important;
}
