<mat-toolbar>
  <div class="part-1">
    <button mat-icon-button (click)="toggleSideMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{ moduleLabel$ | async }}</span>
  </div>
</mat-toolbar>
